.footer {
  padding: 40px 0 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;

    .mapa {
      width: 48%;
      height: 24vw;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .footer-txt {
      width: 48%;

      h2 {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        line-height: 3.2rem;
        color: #fff;
        width: 55%;

        span {
          align-self: flex-end;
        }
      }

      .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;

        .tel {
          p {
            color: #fff;
            font-size: 0.8rem;
            margin-top: unset;
          }
        }

        .alinha {
          display: flex;
          align-items: flex-start;

          svg {
            fill: #fff;
            width: 16px;
            margin-right: 5px;
          }

          p {
            color: #fff;
            font-size: 0.8rem;
            line-height: 1.1rem;
            margin-top: unset;
          }
        }

        p {
          color: #fff;
          font-size: 0.8rem;
          line-height: 1.1rem;
          margin-top: 30px;
        }
      }

      .footer-midias {
        display: flex;
        justify-content: space-between;
        width: 28%;
        margin-top: 20px;

        svg {
          width: 24px;
          fill: #fff;
        }
      }
    }
  }

  .rodape {
    background-color: #575757;
    padding: 13px 0;

    p {
      text-align: center;
      color: #fff;
      font-size: 0.7rem;

      a {
        color: #fff;
        font-size: 0.7rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .footer {
    .container {
      flex-direction: column-reverse;

      .mapa {
        height: 50vw;
        width: 100%;
        margin-top: 20px;
      }

      .footer-txt {
        width: 100%;

        h2 {
          font-size: 2.5rem;
          line-height: 2.7rem;
          width: 60%;
        }

        .footer-wrapper {
          grid-template-columns: repeat(1, 1fr);

          .alinha {
            order: 1;
          }

          .tel {
            order: 2;
            margin: 20px 0 0 0;
          }

          p {
            order: 4;
          }
        }

        .footer-midias {
          width: 37%;

          svg {
            width: 16px;
          }
        }
      }
    }

    .rodape {
      p {
        font-size: 0.6rem;

        a {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1550px) {
  .footer .container .footer-txt h2 {
    width: 35%;
  }
}
