.banner-contato-img {
  position: absolute;
  top: 0;
  right: 10%;
  height: 400px;
  z-index: -1;
}

.contato {
  padding: 60px 0 90px;

  .container {
    h2 {
      color: #fff;
      font-size: 1.9rem;
      line-height: 2.2rem;
      width: 55%;
    }

    p {
      color: $creme;
      margin: 20px 0;
    }

    .wpcf7 {
      form {
        width: 50%;
        p {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          input {
            width: 99%;
            margin: 5px 0;
            border: solid 1px #fff;
            background-color: unset;
            height: 40px;
            padding: 5px 0 5px 15px;
            color: #fff;

            &:nth-of-type(2) {
              width: 48%;
            }

            &:nth-of-type(3) {
              width: 48%;
            }
          }

          textarea {
            width: 99%;
            margin: 5px 0;
            border: solid 1px #fff;
            background-color: unset;
            height: 120px;
            min-height: 120px;
            max-height: 200px;
            max-width: 99%;
            min-width: 99%;
            padding: 10px 0 5px 15px;
            color: #fff;
          }

          .wpcf7-submit {
            width: 15%;
            font-size: 0.7rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            border: unset;
            border-bottom: solid 1px $creme;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 650px) {
  .banner-contato-img {
    position: absolute;
    top: 10%;
    left: 0;
    right: unset;
    height: 300px;
    z-index: -1;
  }

  .contato {
    .container {
      h2 {
        font-size: 1.6rem;
        line-height: 1.8rem;
        width: 100%;
      }

      .wpcf7 {
        form {
          width: 100%;

          p {
            .wpcf7-submit {
              width: 25%;
            }
          }
        }
      }
    }
  }
}
